
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Spectral:400,500,700&subset=cyrillic');

.container {
	width: 100%;
}
/*

HEADER

*/
.header	{
	display: flex;
	justify-content: space-between;
	max-width: 1330px;
	height: auto;
	margin: 0 auto;
	padding: 20px 0;
}

.header__logo {
	justify-content: flex-start;
}

.header__sidebar {
	padding:20px 20px 0 0;
}

.header__sidebar ul li {
	display: inline-block;
}


/*

TOP MAIN MENU

*/
.navbar-container {
	width: 100%;
	background: #3d477f;
}

.navbar {
	display: flex;
	justify-content: space-between;
	max-width: 1300px;
	margin: 0 auto;
}

.navbar__top {
	display: block;
	background: #3d477f;
	color:white;
	text-transform: uppercase;
}

.navbar__top ul {
	padding: 0;
}

.navbar__top ul li {
	display: inline-block;
	list-style-type: none;
	padding-right: 20px;
}

.navbar__top ul li a {
	position: relative;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 15px;
    line-height: 30px;
    text-decoration: none;
}

.form-group {
	box-sizing: border-box;
	width:258px;
	background: #4b5795;
}

.form-search {
	position: relative;
}

.input-search {
	padding-left: 10px;
	height: 60px;
	background: transparent;
	border-radius: 0;
	border:0;
	color: white;

}

.input-search:focus, .btn:focus {
  	outline-style:none;
	box-shadow:none;
	border-color:transparent;
}

.input-search  {
    caret-color : white;
}

.input-search::placeholder {
	color: white;
  	opacity: 1; /* Firefox */
}


.btn {
	height: 100%;
	background: transparent;
	border:1px solid red;
	cursor: pointer;
  	border: none;
  	color: white;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
}

.btn-search {
	padding: 17px 15px;
}


.fa-search {
	color: white;
}


/*
	MAIN SLIDE-CONTENT
*/


.slide__bg {
	max-width:100%;
	background-image: url(../uploads/44.jpg);
	height:500px;
	background-size: cover;
	opacity: 1;
}


.slide__wrap {
	position: relative;
	max-width: 1300px;
	margin: 0 auto;
}


.slider-plate {
	position:absolute;
	top:100px;
	left: 100px;
	background-color: rgba(0,0,0,0.55);
    width: 500px;
    padding: 40px;
}

.slider-header h1 {
	text-transform: uppercase;
	font-family: 'Spectral', serif;
	font-weight: 700;
	font-size: 24px;
	color: white;
}


.slider-footer a {
	display: block;
	text-decoration: none;
	color: white;
}
.slider-footer:hover {
	background: white;
} 
.slider-footer:hover a {
	color: #333;
}


.slider-footer {
	padding-left: 10px;
	border: 1px solid white;
}

.btn-more {
	padding: 17px 45px;
	font-size: 18px;
}

.btn-more ::focus {
	padding: 17px 35px;
}


/*
MAIN CONTENT NEWS | EVENTS
*/

/*NEWS BOX///////////////////////////////////////////////*/


.main-content {
	max-width:1330px;
	margin: 0 auto;
	display: flex;

}


.main-card {
	width: 100%;
}

.news-box {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	border: 1px solid red;
}

.news-box {

	width: 600px;
}

.post__content {
	box-sizing: border-box;
	padding: 0.76vw;
}

.post__item {
	border: 2px #e1e1e1 solid;
	max-width: 40%;
	/*max-width: 27.84vw;*/
	margin: 10px;
}


/*/////////////////////////////////////////////////////
/*EVENTS BOX*/
.event-box {
	border: 1px solid yellow;
	box-sizing: border-box;
	width:500px;
	flex: 1;
	padding: 1.53%;
}

.footer {
	width: 100%;
	/*background: #3d477f;*/
	background: #434343;
}

.footer__wrap {
	display: flex;
	justify-content: space-between;
	max-width: 1300px;
	margin: 0 auto;
	
}

.footer__col1 {
	display: flex;
	flex-wrap: wrap;
	max-width: 50%;
	padding: 40px 15px;
	
}
.footer__col2 {
	display: flex;
	flex-wrap: wrap;

	max-width: 40%;
	padding: 40px 0;
	
}

.footer__contact {
	
	
}

.footer__contact p {
	color: white;
	padding-left: 20px;
}

.footer__logo-content {
	display: flex;
	max-width: 60%;
	align-items: center;
}

a .logo__link {
	display: block;
}

.logo__img {
	max-width: 120px;
	height: auto;
}

.logo__img img {
	width: 100%;
	display: block;
}

.logo__text {
	max-width: 50%; 
	color: white;
}

.copyright {
	border-top: 2px #393939 solid;
	margin-top: 20px;
	padding-top: 20px;
	color: white;

}

.footer__navbar {
	width: 30%;
}

.footer__social {
	 text-align: right;
	width: 70%;
}

.footer__social p ,.founder p{
	font-size: 20px;
	font-weight: bold;
	color: white;
	text-align: right;
}


.footer__menu li {
	list-style-type: none;
	padding: 10px 0;
}

.footer__menu li a ,.footer__contact a {
	color: #cfd4f5
}

ul.icon__list {

	font-size: 0px;
}

.icon__list li {
	padding: 0px;
	display: inline-block;
	padding-left: 10px;
}


.responsive-icon {
	max-width: 100%;
	height: auto;
	background-repeat: no-repeat;
	background-size: cover;
}

.icon__list li a {
	display: block;
    width: 40px;
    height: 40px;
}


a.vk {
	background-image: url('../img/icons/vk.png');
}

a.facebook {
	background-image: url('../img/icons/fc.png');
}

a.instagram {
	background-image: url('../img/icons/inst.png');
}

a.youtube {
	background-image: url('../img/icons/youtube.png');
}

a.rss {
	background-image: url('../img/icons/rss.png');
}


.founder {
	padding:0;
	width: 100%;
	text-align: right;
	color: white
}

.founder a {
	color: #cfd4f5;
}




@media (max-width: 1215px) {
	
	.navbar {
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}

	.navbar__top {
		display: block;
		width: 100%;
	}

	.navbar__search {
		display: block;
		max-width: 100%;
	}

	.form-group{
		width: 100%;
	}

	.input-search {
		display: inline-block;
		max-width: 100%;
	}
	
	.main-content {
	max-width: 1300px;
	margin: 0 auto;
	flex-direction: column;
}

	.news-box {
		
		width: 100%;
		flex: 1;

}
	.event-box {
		width: 100%;
		flex: 1;
	}
	
}

img {
	max-width: 100%;
	height: auto;
}