
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Spectral:400,500,700&subset=cyrillic');
.container {
	width: 100%;
}
/*

HEADER

*/
.header	{
	display: flex;
	justify-content: space-between;
	max-width: 1300px;
	height: auto;
	margin: 0 auto;
	padding: 20px 0;
}

.header__logo {
	justify-content: flex-start;
}

.header__sidebar {
	padding:20px 20px 0 0;
}

.header__sidebar ul li {
	display: inline-block;
}


/*

TOP MAIN MENU

*/
.navbar-container {
	width: 100%;
	background: #3d477f;
}

.navbar {
	display: flex;
	justify-content: space-between;
	max-width: 1300px;
	margin: 0 auto;
}

.navbar__top {
	display: block;
	background: #3d477f;
	color:white;
	text-transform: uppercase;
}

.navbar__top ul {
	padding: 0;
}

.navbar__top ul li {
	display: inline-block;
	list-style-type: none;
	padding-right: 20px;
}

.navbar__top ul li a {
	position: relative;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 15px;
    line-height: 30px;
    text-decoration: none;
}

.form-group {
	box-sizing: border-box;
	width:258px;
	background: #4b5795;
}

.form-search {
	position: relative;
}

.input-search {
	padding-left: 10px;
	height: 60px;
	background: transparent;
	border-radius: 0;
	border:0;
	color: white;

}

.input-search:focus, .btn:focus {
  	outline-style:none;
	box-shadow:none;
	border-color:transparent;
}

.input-search  {
    caret-color : white;
}

.input-search::placeholder {
	color: white;
  	opacity: 1; /* Firefox */
}


.btn {
	height: 100%;
	background: transparent;
	border:1px solid red;
	cursor: pointer;
  	border: none;
  	color: white;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
}

.btn-search {
	padding: 17px 15px;
}


.fa-search {
	color: white;
}


/*
	MAIN SLIDE-CONTENT
*/


.slide__bg {
	max-width:100%;
	background-image: url(../uploads/44.jpg);
	height:500px;
	background-size: cover;
	opacity: 1;
}


.slide__wrap {
	position: relative;
	max-width: 1300px;
	margin: 0 auto;
}


.slider-plate {
	position:absolute;
	top:100px;
	left: 100px;
	background-color: rgba(0,0,0,0.55);
    width: 500px;
    padding: 40px;
}

.slider-header h1 {
	text-transform: uppercase;
	font-family: 'Spectral', serif;
	font-weight: 700;
	font-size: 24px;
	color: white;
}


.slider-footer a {
	display: block;
	text-decoration: none;
	color: white;
}
.slider-footer:hover {
	background: white;
} 
.slider-footer:hover a {
	color: #333;
}


.slider-footer {
	padding-left: 10px;
	border: 1px solid white;
}

.btn-more {
	padding: 17px 45px;
	font-size: 18px;
}

.btn-more ::focus {
	padding: 17px 35px;
}


/*
MAIN CONTENT NEWS | EVENTS
*/

.row {
	max-width: 1300px;
	margin: 0 auto;
}

.title__content {
	display: flex;
	justify-content: space-between;
}

.header__title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 60%;
	padding: 0 20px;
}

.title__allNews a {
	color: #f6a839;
}


.main__event {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 40%;
	padding: 0 20px;
}

.title__allEvents a {
	color:#3d477f;
}


.main__article {
	display: flex;
	justify-content: space-between;
	max-width: 60%;
	border: none;
	margin-right: 30px;
}

.main__article:hover {
	border:1px solid orange;
}

.artcile__img a {
	width: 350px;
	background-image: url(../uploads/IMG_2825.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    display: block;
}

.article__description {
	padding: 0 15px;
}








@media (max-width: 1215px) {
	.navbar {
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}
	.navbar__top {
		display: block;
		width: 100%;
	}

	.navbar__search {
		display: block;
		max-width: 100%;
	}
	.form-group{
		width: 100%;
	}
	.input-search {
		display: inline-block;
		max-width: 100%;
	}
}





















img {
	max-width: 100%;
	height: auto;
}