
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Spectral:400,500,700&subset=cyrillic');
.container {
	width: 100%;
}
/*

HEADER

*/
.header	{
	display: flex;
	justify-content: space-between;
	max-width: 1300px;
	height: auto;
	margin: 0 auto;
	padding: 20px 0;
}

.header__logo {
	justify-content: flex-start;
}

.header__sidebar {
	padding:20px 20px 0 0;
}

.header__sidebar ul li {
	display: inline-block;
}


/*

TOP MAIN MENU

*/
.navbar-container {
	width: 100%;
	background: #3d477f;
}

.navbar {
	display: flex;
	justify-content: space-between;
	max-width: 1300px;
	margin: 0 auto;
}

.navbar__top {
	display: block;
	background: #3d477f;
	color:white;
	text-transform: uppercase;
}

.navbar__top ul {
	padding: 0;
}

.navbar__top ul li {
	display: inline-block;
	list-style-type: none;
	padding-right: 20px;
}

.navbar__top ul li a {
	position: relative;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 15px;
    line-height: 30px;
    text-decoration: none;
}

.form-group {
	box-sizing: border-box;
	width:258px;
	background: #4b5795;
}

.form-search {
	position: relative;
}

.input-search {
	padding-left: 10px;
	height: 60px;
	background: transparent;
	border-radius: 0;
	border:0;
	color: white;

}

.input-search:focus, .btn:focus {
  	outline-style:none;
	box-shadow:none;
	border-color:transparent;
}

.input-search  {
    caret-color : white;
}

.input-search::placeholder {
	color: white;
  	opacity: 1; /* Firefox */
}


.btn {
	height: 100%;
	background: transparent;
	border:1px solid red;
	cursor: pointer;
  	border: none;
  	color: white;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
}

.btn-search {
	padding: 17px 15px;
}


.fa-search {
	color: white;
}


/*
	MAIN SLIDE-CONTENT
*/


.slide__bg {
	max-width:100%;
	background-image: url(../uploads/44.jpg);
	height:500px;
	background-size: cover;
	opacity: 1;
}


.slide__wrap {
	position: relative;
	max-width: 1300px;
	margin: 0 auto;
}


.slider-plate {
	position:absolute;
	top:100px;
	left: 100px;
	background-color: rgba(0,0,0,0.55);
    width: 500px;
    padding: 40px;
}

.slider-header h1 {
	text-transform: uppercase;
	font-family: 'Spectral', serif;
	font-weight: 700;
	font-size: 24px;
	color: white;
}


.slider-footer a {
	display: block;
	text-decoration: none;
	color: white;
}
.slider-footer:hover {
	background: white;
} 
.slider-footer:hover a {
	color: #333;
}


.slider-footer {
	padding-left: 10px;
	border: 1px solid white;
}

.btn-more {
	padding: 17px 45px;
	font-size: 18px;
}

.btn-more ::focus {
	padding: 17px 35px;
}


/*
MAIN CONTENT NEWS | EVENTS
*/

.row {
	max-width: 1300px;
	margin: 0 auto;
}

.title__content {
	display: flex;
	justify-content: space-between;
	max-width: 100%;
}

.header__title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	width: 60%;
	padding-right: 20px;	
}

.title__allNews a, .article__more a {
	color: #f78704;
}


.main__event {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 40%;
}

.title__allEvents a {
	color:#3d477f;
}

.title__events {
	margin-left: 20px;
	padding-left: 20px;
}

.wrap__content {
	display: block;
	max-width: 60%;
}

.main__article {
	border:2px solid #cfd4f5;
	background: #cfd4f5;
}

.main__article:hover {
	border:2px solid #f78704;
	-webkit-transition: all 0.3s ease;;
  	-moz-transition: all 0.6s ease;;
  	-o-transition: all 0.6s ease;;
  	transition: all 0.6s ease;
}

.artcile__img {
	float: left;
}

.artcile__img a {
	width: 300px;
	background-image: url(../uploads/IMG_2825.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    display: block;
}

.article__description {	
	width: 50%;
	height: 240px;
	padding: 0 15px;
	overflow: hidden;
}

.article__description p,
.event__descripton p {
	color: #272727;
}

.article__more {
	display: block;
	float: left;
	padding: 0 15px;
}

.wrap-flex {
	display: flex;
}


.clearfix:after {
	content: '';
	clear: both;
	display: block;
}

.event__content {
	box-sizing: border-box;
	max-width: 40%;
	margin-left: 20px;
	padding-left: 20px;
	
}

.event__items {
	position: relative;
	width: 100%;
	background: #cfd4f5;
	border: 2px solid #cfd4f5;
	margin-bottom: 20px;
	
}

.event__items:hover {
	border:2px solid #3d477f;
	-webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}
.event__img {
	width: 100%;
    min-height: 130px
}
.img-responsive {
	display: block;
    max-width: 100%;
    height: auto
}

.event__descripton {
	padding: 10px 25px;
}

.articles {
	display: flex;
	justify-content: space-between;
	max-width: 100%;
	position: relative;
	margin-top: 30px;
}

.artcile-border {
	border: 2px solid #cfd4f5;
}

.post-wrap {
	margin: 20px 0;
}

.artcile-border:hover {
	border:2px solid #f78704;
	-webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}

.articles__column1 {
	width: 48%;
}

.articles__column2 {
	width: 48%;
}

.post-header, 
.post-content {
	padding: 15px 15px;
}

.date {
	color: #3d477f;
}

a.name {
	display: block;
    font-size: 24px;
    line-height: 1.2;
    color: #272727;
	font-weight: bold;
    text-decoration: none;
	text-decoration: none;
	margin-top: 15px;
}


.post-header a:hover {
	text-decoration: underline;
	font-size: 24px;
}

.tags {
	padding:15px 15px;
}

.tags a {
	color: #f78704;
	
}

.media__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 100%;
}

.video-cards {
	display: flex;
	max-width: 100px;
}

.video__item {
	max-width: 40%;
}


@media (max-width: 1215px) {
	.navbar {
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}
	.navbar__top {
		display: block;
		width: 100%;
	}

	.navbar__search {
		display: block;
		max-width: 100%;
	}
	.form-group{
		width: 100%;
	}
	.input-search {
		display: inline-block;
		max-width: 100%;
	}
}

img {
	max-width: 100%;
	height: auto;
}